[2017-11-18 09:34] astrofrog opened #6 "Set up Travis with LaTeX?"
Just to make sure the paper builds :)

Also didn't someone make a service to build PDFs in CI at #pyastro16?

[2017-11-18 15:23] crawfordsm opened #9 "merge rights"
Can someone with access give me merge rights on this repository?  For right now, I'd be okay with the paper II coordinators having merge rights.

[2017-11-18 17:24] #6 closed

[2017-11-18 21:24] bsipocz commented on #9
This has been fixed since.

[2017-11-18 21:24] #9 closed

[2017-11-20 20:06] crawfordsm opened #14 "Comment from Wolfgang"
This was left on the overleaf draft (which is now hopefully locked), but here was a comment from @wkerzendorf left there before I locked it:

\inlinecomment{Wolfgang K}{I would get more quickly to the point here (I think we can also cut some more if needed): Software is a crucial component of modern research. The use of software ranges from single-use scripts used by individuals to extensive frame

[2017-11-20 20:13] crawfordsm opened #15 "Table 1 as matrix"
@perrygreenfield commented:

Wouldn't the table be better represented as a matrices? Or perhaps as a matrix as a crude image with colors or intensities representing the size of the quantity. Is the difference between median and mean significant enough to warrant showing both? A link to the actual numbers may satisfy readers that want the exact values, but I suspect the majority don't need to see t

[2017-11-20 20:38] crawfordsm opened #16 "Citations in section 5.1"
Citations should be updated or added when they are available for packages in section 5.1

[2017-11-20 20:39] crawfordsm opened #17 "add description to affiliated packages table"
Should a description of each project be added to the affiliated package tables?

[2017-11-20 21:08] adrn commented on #17
My own feeling is no, since then the table will be huge. But I'm willing to be convinced!

[2017-11-20 21:19] crawfordsm opened #18 "Classes, decorators, mixin, namespace"
@perrygreenfield comments:
Agreeing with Tom below, I would avoid using terms like subclass, decorators, mixin, namespace, (and perhaps even class, instead using objects consistently; this is no place to be pendantic about the distinction between classes and objects; even to the extent of adding a qualifying sentence somewhere like: "In this paper we will use object when we mean object or classes;

[2017-11-20 21:22] crawfordsm commented on #18
I've removed mixin and namespace and decorators and subclasses where it was not necessary, but I'm leaving it as an open question where to remove  `class` as well.   I would like to hear other's thoughts about it.

[2017-11-20 21:23] crawfordsm opened #19 "glossary"
We should consider adding a glossary of terms that are not common to the non-coding astronomer

[2017-11-20 21:24] crawfordsm opened #20 "citations in Fitting Models to Data"
@adrn  commented:

Add citations to the fitters in Fitting Models to Data section of the paper

[2017-11-20 21:26] crawfordsm opened #21 "Level of Single Model Definition and Evaluation"
@hamogu  commented:

I tihnk this is too technical. I know it's a complex subpackage but I had trouble understanding this section even as a regular user.

[2017-11-20 21:27] crawfordsm opened #22 "Citations in Sphinx extensions"
TPR commented:

We should put the releases of sphinx-automodapi on Zenodo and cite this

[2017-11-20 21:33] crawfordsm opened #24 "Spell check!"
Remember to run spell check prior to submission.  Do not close until last step before submission

[2017-11-20 21:34] crawfordsm opened #25 "Check consistent use of astropy"
Is astropy used correction through the paper?  Either \astropypkg or \astropy ?

Check prior to distributing paper.

[2017-11-21 13:22] astrofrog commented on #22
This is very minor and can be done after the paper is sent out to everyone. I need to fix something in the sphinx-automodapi repo before doing this.

[2017-11-22 04:56] adrn commented on #19
I'm not sure about this. Probably better to just try not to use such terms!

[2017-11-22 04:57] adrn commented on #14
@wkerzendorf - if you still feel this should be addressed, could you please open a PR with a suggested rewrite?

[2017-11-22 04:57] #14 closed

[2017-11-22 04:59] adrn commented on #18
My own feeling is no on removing "class" -- if we're going to keep in the word "function," I think we should be able to say "class" as well.

[2017-11-22 11:16] wkerzendorf commented on #14
This was the suggested rewrite of the first paragraph. I'm not sure if you want this kind of rewrite now - or mainly minor changes (am happy with either). Will make a PR - if I wouldn't distract with it - let me know.:

Software is a crucial component of modern research. The use of software ranges from single-use scripts used by individuals to extensive frameworks supported by large institutions.

[2017-11-22 14:08] adrn commented on #14
No strong feelings either way for me so I defer to @crawfordsm!

[2017-11-22 16:54] crawfordsm commented on #14
I like some of your rephrasing, and so a PR would be best and we can discuss it further there--I just didn't want your edits getting lost as I think it was a good point which is why I opened an issue.  We are going to distribute a draft tonight to everyone, and so it might not get merged until after that, but it would still be good to have.

Thanks for the edits @wkerzendorf

[2017-11-22 20:17] crawfordsm opened #31 "tables"
The table section could be expanded:

@adrn: Need more introduction to the table subpackage!

@perrygreenfield: Some mention that some of these are inspired by Pandas?

[2017-11-23 08:01] cdeil opened #34 "Font"
Hi, I noticed a small technical issue: when I open the PDF on my Mac in the Preview or Acrobat Reader app, the text appears very un-sharp. I've never seen this with other papers. Here's a screenshot:

![screen shot 2017-11-23 at 08 58 23](https://user-images.githubusercontent.com/852409/33162992-87283c24-d02c-11e7-8da7-aa7ecea6ead5.png)

Does anyone else see the same thing? Is it possible to chang

[2017-11-23 09:38] ycopin commented on #34
Same here, using Acrobat under Linux. IIRC, this is the default behaviour of pdflatex, this can be temporarily solved with ```\usepackage{lmodern}```, but this is ultimately handled by the editor.

[2017-11-23 09:47] ycopin commented on #15
:+1:

[2017-11-23 09:52] ycopin opened #35 "Include software versions in Table 1"
Even though Table 1 is claimed to be illustrative only, it's quantitative: numbers probably depend on some specific software versions, which should be quoted.

[2017-11-23 16:13] ycopin commented on #25
Please check also versioning, e.g. "v2.0" vs. "version 2.0" vs. "version v2.0".

[2017-11-24 13:50] astrofrog commented on #15
Maybe the maximum value are enough, in which case matrix form should be easy

[2017-11-27 17:32] hugobuddel commented on #31
The nddata/table section seemed inspired by Pandas, at least that's what popped up in my mind. But there was no reference to Pandas and I wondered how they compare. So maybe a Pandas reference would be useful, but not essential.

[2017-11-27 17:38] hugobuddel commented on #31
I don't understand this:

Is the idea that those objects can be used as table-cell-values with the object type as column-type? That's the only logical thing that I can make of this, but that doesn't seem to be what is said.

A column is like a whole list of values (like astropy 'Column' class), so how can a Quantity object be used as a column? Or maybe I misunderstand.

Not sure how to improve the

[2017-11-27 17:54] hugobuddel commented on #21
Is it? I found it interesting (wasn't aware astropy has model fitting capabilities). Perhaps this sentence is too technical:

[2017-11-27 18:04] hugobuddel opened #43 "more astronomy focused Modeling introduction?"
The modelling capability is new for me, so I read it with interest. Here a suggestion to make it even more interesting to readers. (Feel free to ignore though, the section is already nice.)

Perhaps it can be elaborated on why the modelling is added to astropy at all? As in, what are the astronomical drivers to have modelling in an astronomy package? Why did we not use/wrap/wrote a general modelli

[2017-11-27 20:14] taldcroft commented on #31
@hugobuddel - see http://docs.astropy.org/en/v2.0.2/table/mixin_columns.html for a longer explanation.

It might be worth adding "array-valued" to clarify:

 The \texttt{Table} object now allows *array-valued* \texttt{Quantity} objects, celestial
 coordinate objects [...] to
 be used as columns, and also provides a general way for other user-defined
*array-like* objects to be used as columns.

[2017-11-28 09:56] hugobuddel commented on #31
Adding "array-valued" makes sense indeed. The Quantity section does not mention the possibility of array-like quantities (maybe because they are not new?), so it was not obvious that (only) array-like quantities are intended here.

[2017-11-29 19:13] pllim opened #44 "Citation rendered with question marks on PDF"
I see a lot of "?" in https://github.com/astropy/astropy-v2.0-paper/blob/master-pdf/main.pdf when a citation is inserted.

[2017-11-29 21:12] adrn commented on #44
There's a bug in the bib file:
[code]

[2017-11-29 21:15] adrn commented on #44
(fixing now)

[2017-11-29 21:18] adrn opened #46 "Update ape13 bibliography record when it is citable"
Search: `ape13` and fix in bibliography.bib when this APE is accepted / there is a zenodo record for this APE.

[2017-11-29 21:19] #44 closed

[2017-11-29 21:22] adrn commented on #34
I don't see this. When I open with Preview on a mac with OS X Sierra (10.12.6) I see:

![image](https://user-images.githubusercontent.com/583379/33399675-79be8d78-d521-11e7-93db-1bee5841c33c.png)

[2017-11-29 21:43] pllim commented on #44
Thanks!

[2017-11-30 01:09] hamogu commented on #19
Or explain them in the text when they are used.

[2017-11-30 01:23] hamogu commented on #18
I'm all for removing "class". "Function" is not just a computer-science term, it's a mathematical thing as in `f(x) = 3 * x + 5` and this will be understood by every reader. "Class" on the other hand only makes sense in programming.

[2017-11-30 01:24] hamogu commented on #15
Agreed that max value would be enough.

[2017-11-30 10:52] bsipocz commented on #19
A glossary in a paper feels a bit patronizing, I'm sure non coding astronomers are capable of googling up terms that are not explained in the text. There is no glossary in cosmology papers either, even though I'm pretty sure many of the stellar astronomers are not familiar with some of the terms they are using.

[2017-11-30 11:02] bsipocz commented on #18
I'm with @adrn here, "class" is basic enough that the reader can very well learn about the existence of the concept from the paper. I'm referring back to my other comment, we don't consider dumbing down a science paper, why should we do that here?

I assume the reader who actually considers reading through the 30 pages is willing to learn something from it, and doubt the rest who we try to optimiz

[2017-11-30 11:15] hamogu commented on #18
As a compromise, how about adding a few words like "A class a basic feature of many object-oriented programming languages". I just tired to find "class" on wikipedia. There are about a dozen meanings of "class", but the OOP is not one of them. (And I would expect cosmology papers to give a reference or few words of explanation when they start talking about NFW profiles, too.)

[2017-11-30 11:54] sladen commented on #34
FWIW, with Evince on Ubuntu, these bitmap-style rendering artifacts are visible:
* On the rotated (landscape) pages near the end
or, with the document rotated 90-degrees:
* On all pages, except the rotated (landscape) pages near the end

Didn't immediately find a solution, but possibly some unique hinting/scaling interaction, or something else that is causing a blending step prior (so leading to r

[2017-11-30 11:55] bsipocz commented on #18
Adding that sentence sounds good to me.

(btw this comes up close to the top when googling https://en.wikipedia.org/wiki/Class_(computer_programming) )

[2017-11-30 12:01] taldcroft commented on #18
:+1: for keeping "class" in the paper.

[2017-12-01 09:37] sladen opened #48 "Re-export 'convolution-example.png' as PDF with machine readable text"
_From @sladen on November 30, 2017 12:12_

Currently 'figures/convolution-example.png' contains pre-rendered text.  This could probably be easily re-exported as PDF containing bitmaps + machine readable/renderable text.

(Unfortunately this also appears to be the only image without source code to regenerate it, which possibly explains why this has not been done already).

_Copied from original iss

[2017-12-01 09:37] sladen commented on #48
_From @bsipocz on November 30, 2017 12:39_

Wrong repo, presumably you refer to the figure in the paper here.

[2017-12-01 09:42] sladen commented on #48
Working through with `git blame`—@adrn was this a part you wrote, or was it just the import?

[2017-12-01 10:17] bsipocz commented on #48
the convolution part was originally written up by @keflavich, the git history we brought over from overleaf can be rather inaccurate.

[2017-12-01 16:51] keflavich commented on #48
The png is taken directly from the astropy docs - it's generate there.  We can definitely make a pdf...

[2017-12-04 17:23] PBarmby opened #50 "Intended audience?"
The intro might benefit from a statement explaining who its intended audience is (or maybe who it isn't, eg - paper is not a "beginners' guide to astropy").

The paper also assumes some familiarity with Python and/or object-oriented programming.  Some bits of terminology may be obscure for those without that background - e.g., "decorator", "instantiate."

[2017-12-04 17:38] PBarmby opened #52 "model definition and evaluation, paragraph 2"
I found the second paragraph of section 3.7.2, on Model.inverse, difficult to understand. An example might help here.

[2017-12-04 17:40] PBarmby opened #53 "accuaracy of coordinate transforms"
NOVAS package is mentioned in text but is not in Table 1.
I also wonder if table 1 info might be better presented as a figure.

[2017-12-04 18:07] pllim opened #57 "Doc link: stable -> 2.0?"
While reading the draft, a thought occurred to me: When this paper is out, "stable" might already be pointing to 3.0 and not 2.0. Therefore, is it possible to make a "2.0" (or "2.x") URL for the doc now and then change all the "stable" links to something like `http://docs.astropy.org/en/stable/v2.0/...`?

[2017-12-04 18:11] PBarmby opened #58 "Figure 2"
Figure may not be meaningful to those who don't know what all of the various acronyms mean: include a reference in caption?  Need to explain significance of the arrows coming out of and going back into a given oval?

[2017-12-04 18:11] pllim opened #59 "Back up performance increase claim with asv results?"
In Section 3, "*Beyond what is mentioned below, most subpackages have seen increased performance since the release of the v0.2 package.*"

Is it possible to back up the claim above with a footnote that is perhaps an URL to appropriate `asv` results?

[2017-12-04 18:21] bsipocz commented on #59
but we don't have benchmarks for all subpackages, do we?

[2017-12-04 18:21] bsipocz commented on #59
otherwise 👍

[2017-12-04 18:23] bsipocz commented on #57
good point! I would definitely leave the generic links to "stable" (e.g. installation), but maybe we should indeed point to 2.0.x for anything submodule related.

[2017-12-04 18:29] pllim commented on #59
No, not all sub-packages. Do partial proofs help? Benchmarking code (not the resulting plots) are at https://github.com/astropy/astropy-benchmarks/tree/master/benchmarks

[2017-12-04 18:58] bsipocz commented on #59
well, not sure we really need the proofing, "most packages" cover the odd one that may not had performance improvement, and anyway, "because we say so" should be enough :trollface:

[2017-12-04 19:23] pllim commented on #59
I was just thinking aloud when I opened this issue, so feel free to close if this is not worth pursuing. 😄

[2017-12-04 20:17] pllim commented on #58
Could that be a manifestation of astropy/astropy-helpers#276 . I agree that it does not make sense and perhaps could be removed with Photoshop magic for the paper.

[2017-12-05 16:52] ayshih commented on #58
The arrows coming out of and going back into a given oval represent real transformations where the starting and ending frames are the same, but some other attribute (e.g., observation time or equinox time) is different.

[2017-12-05 21:04] terben opened #62 "Sec. 3.9.4 and figure 5"
- Could you say in which sense the Lupton algorithm to produce colour images is optimal?
- Figure 5 should contain axes such as Fig. 4. It is not really clear to me what this figure should show. If we want to demonstrate the colour-figure capabilities of ```astropy.visualization```, the example is probably not very good. A set of three or four panels which shows colour composite  images with diffe

[2017-12-06 01:38] hamogu commented on #19
3:1 statements think a glossary is not a good addition in this case. Closing.

[2017-12-06 01:38] #19 closed

[2017-12-06 12:33] adeleplunkett opened #65 "Figure 4 could include a link to source code so readers could practice/recreate the image"
This figure is very nice. It would be of great use to the community (and maybe citable) if the code were available to make this plot. Is it possible to link to a github page or python notebook where the code is available to recreate this figure?

I understand if this is *extra/unnecessary* work.

[2017-12-06 12:34] adeleplunkett opened #66 "Section 5.1 "summer of 2018""
In section 5.1, you write "summer of 2018".  I think this is northern-hemisphere-centric, and perhaps should list a range of months, or second-semester, or mid-2018 (to give a few examples).

[2017-12-06 12:36] adeleplunkett opened #67 "astropy's vision and philosophy, can you include a link/reference?"
You write (page 4): "to ensure they are in keeping with astropy's vision and philosophy." Is there any place that the vision and philosophy are listed, that you can reference here?

[2017-12-06 12:40] bsipocz commented on #65
There is one of such figure in the astropy documentation, including the source code.

[2017-12-06 12:40] #65 closed

[2017-12-06 12:46] bsipocz commented on #67
maybe we need a link to astropy.org somewhere in the intro, but the affiliated package section later on details these out.

[2017-12-06 21:25] wkerzendorf commented on #14
@crawfordsm I just downloaded the newest version - and the introduction has been rephrased very similar to what I suggested - I think that is great. I have another read of the paper and see if there are any other changes.

[2017-12-07 02:36] pllim opened #69 "Address remaining inline comments?"
I noticed that there are some remaining `\inlinecomment` comments in `main.tex`. Should they be addressed before submitting the paper?

[2017-12-07 02:50] pllim commented on #52
@nden -- What do you think?

[2017-12-07 02:59] pllim commented on #43
@nden and I discussed about "what are the astronomical drivers" when it was written, however we decided to keep things brief, as `modeling` can be used for so many things that mentioning one but leaving the other out would do more harm than good. And to include everything is quite impossible. However, if you have an idea on how to do this, please do open a pull request by Dec 8. And Nadia, please

[2017-12-07 03:04] pllim commented on #21
c/c @nden

[2017-12-07 03:06] pllim commented on #69
Ah, in browsing through the open issues, this appears to have been addressed. Sorry for the noise!

[2017-12-07 03:06] #69 closed

[2017-12-07 03:14] pllim commented on #25
I caught a wild "Astropy" in #70. FYI.

[2017-12-07 09:48] hugobuddel commented on #43
It seems that some justification would be warranted though. As in, it should be trivial for the reader to answer "why am I reading this?", which for this paper translates to "why is this in astropy?". What problem is being solved in this section of the paper? Answers to these questions can be given on multiple levels, e.g. from an scientific or a technical perspective, preferably both. Currently y

[2017-12-07 10:04] hugobuddel commented on #43
Note that similar why-questions could be asked for other sections of the paper, but to lesser extent in my opinion. E.g. surely quantities and units would be relevant outside astronomy, so why reinvent the wheel? But there one could ague--although this is not done explicitly--that astronomy has very specific requirements for quantities and units (like magnitudes) and that they are such an integral

[2017-12-07 15:14] nden commented on #43
@hugobuddel @pllim

What do you think about adding text to the first paragraph of modeling, so that it becomes:

[code]

@hugobuddel Thanks for the link to that talk!

[2017-12-07 15:34] nden commented on #21
@hamogu
Does the text below sound better (a substitute for the current section)? Do you have suggestions on how to improve it?

@PBarmby Does the change of wording below address your concern or do you still think an example is necessary?

[code]

[2017-12-07 15:50] #66 closed

[2017-12-07 17:44] adrn commented on #34
Ah I see the issue now - this is if you download the PDF that travis builds, right? Try cloning the repo and building the latex source (you can just type `make` in the repo).

I see the graininess when I download the Travis-built PDF, but *not* when I build locally. If that is the case for you too, I think we should close this.

[2017-12-07 17:46] adrn commented on #58
Yes, what @ayshih says is right - the arrows that loop back are real transformations that involve a change of frame attribute within the same frame class. It might be too much to explain this in the caption, but I could - what do you think @PBarmby ?

[2017-12-07 18:05] hamogu commented on #21
I think that's good.

[2017-12-08 02:57] lgbouma commented on #15
Also relevant: it might be more sensible (whether in table or matrix form) to give the values in scientific notation.

For example, does "0.000" mean they agree down to machine precision? Surely not.

[2017-12-08 04:43] pllim opened #78 "Avoid orphaned subsection title?"
Not sure how particular journal editor would be about this... Note that Section 3.5.5 title is orphaned, i.e., last sentence of the page. Of course, this might change as the paper gets more edits, however know that such a thing is possible.

![untitled](https://user-images.githubusercontent.com/2090236/33751325-2d39483e-dba8-11e7-949c-99955e0de112.png)

[2017-12-08 05:45] pllim commented on #25
@crawfordsm , I think I have caught all of those (only 2 instances or so needed fixing). However, I am not sure whether these are also meant to be used inside a section or sub-section title; Probably not? What about for "astropy" wording inside an emphasis tag?

[2017-12-08 06:05] pllim commented on #48
While we're discussing Figure 3 here, I have some feedback:

* Is the order of `(a)`, `(b)`, `(c)`, and `(d)` a standard thing in journals? I don't see any a, b, c, or d actually marked in the sub-figures. Therefore, I have to guess, which isn't hard in this case but any guessing isn't a good sign on the clarity of the caption.
* I see the usage of `x's` (apostrophe before the plural "s") and `NaN

[2017-12-08 06:17] pllim opened #80 "Why some sentences have spaces around "/"?"
I see a both ways "/" is used in the paper:

1. "blah / blah" (with spaces)
2. "blah/blah" (no spaces)

Should we choose one and stick with it? Does it matter?

[2017-12-08 06:26] pllim opened #81 "Citation for Aitoff projection?"
I, for one, have no idea what it is, so a citation would be helpful if I want to read more about it.

p.s. I found https://en.wikipedia.org/wiki/Aitoff_projection but I don't think Wikipedia links look nice on a paper.

[2017-12-08 06:34] pllim opened #82 "Inconsistent figure captions handling"
I see a mix of these styles in the paper:

* Caption has most of the explanation of the figure. While in the main text, it is very brief like, "See Figure X."
* Caption is very brief. While in the main text, it explains the figure in detail.

If you don't think this is worth addressing, feel free to close the issue.

[2017-12-08 06:45] pllim commented on #62
If I may add, if we decide to keep the existing Figure 5, an URL to SDSS source or a citation to relevant publication would be nice.

[2017-12-08 06:56] pllim commented on #31
I noticed that the two sub-sections of "Tables" are actually at the same level -- 3.5.3 and 3.5.4 should have been 3.5.2.1 and 3.5.2.2, if you get what I mean.

[2017-12-08 07:15] pllim opened #83 "Mention ReadTheDocs in Package Template section"
There is already a mention of Sphinx. And I see RTD related files in https://github.com/astropy/package-template . So, maybe we should give RTD a shout-out?

[2017-12-08 08:25] pllim opened #85 "Appendix"
I noticed several issues in the Appendix in the draft I read:

* There is a giant blank area between Appendix section title and the tables.
* There are no paragraphs describing the tables in the Appendix. For example, we can explain why are the tables there.
* The affiliated package listing might not be up-to-date. Maybe the tables should be updated again after some PRs at https://github.com/astro

[2017-12-08 13:05] nden commented on #20
@adrn What kind of citations do you think should be added? The section mentions the optimizers are implemented in scipy. Since we don't control this, in theory it can change depending on the version of scipy. I see two options - adding the names of the scipy functions used as optimizers or adding real citations to the papers describing the algorithms implemented in scipy, which are already in scip

[2017-12-08 15:51] keflavich commented on #48
On plural letters:
https://english.stackexchange.com/a/25280/15719

a/b/c/d could be changed to top left/top right/bottom left/bottom right, or we could add them to the figure

[2017-12-08 18:31] adrn commented on #81
I think it's a pretty standard projection and other papers that use the phrase don't seem to cite anything: https://ui.adsabs.harvard.edu/#search/q=%20full%3A%22aitoff%22&sort=date%20desc%2C%20bibcode%20desc

[2017-12-08 18:31] #81 closed

[2017-12-08 18:32] pllim commented on #81
Haha, okay, it's just me then. Never mind. :wink:

[2017-12-08 18:37] adrn commented on #78
Not something we have to deal with - (a) the paper will be edited more, so lengths will change, and (b) the journal will reformat the paper.

[2017-12-08 18:37] #78 closed

[2017-12-08 18:42] #34 closed

[2017-12-08 18:44] adrn commented on #20
Right, I think I was thinking for named algorithms like Levenberg-Marquardt, SLSQP, etc., since I think the algorithms have standard citations. But I'd be fine with switching to function names.

[2017-12-08 19:15] crawfordsm commented on #17
At this time, individual package descriptions will not be added

[2017-12-08 19:15] #17 closed

[2017-12-08 19:17] crawfordsm commented on #18
Class stays, but decorator, namespace, and mixin have been removed

[2017-12-08 19:17] #18 closed

[2017-12-08 19:18] #21 closed

[2017-12-08 19:20] crawfordsm commented on #52
Closing with #86 merged, but will review on final read through

[2017-12-08 19:20] #52 closed

[2017-12-08 19:24] crawfordsm commented on #25
The key thing is to be consistent -- so no to section titles and if it is inside a tag, it should probably keep the formatting of the tag

[2017-12-08 19:25] crawfordsm commented on #35
Something to note for updating Table 1 @astrofrog

[2017-12-08 19:30] pllim commented on #25
I do remember seeing things like `\astropy` in *some* section titles but not all, so I don't think it is quite consistent in that respect yet. You might want to sweep through it again.

[2017-12-09 02:30] #43 closed

[2017-12-09 09:08] crawfordsm commented on #82
When reviewing the paper, it would be good to check consistent captions between the different figures

[2017-12-09 09:15] crawfordsm commented on #83
Will be mentioned in the acknowledgements

[2017-12-09 09:15] #83 closed

[2017-12-09 09:18] crawfordsm commented on #62
Thanks for the comment @terben -- the Lupton et al. paper that is cited there goes into detail about why it is optimal and comparisons of rgb techniques is out of scope for this paper.

However, we should add a link to the skyserver or citation to it.

[2017-12-09 09:20] crawfordsm commented on #59
I think it will be out of scope for this paper and as v3.1 will be focused on performance increases, it will be better for  more detailed analysis there.

[2017-12-09 09:20] #59 closed

[2017-12-09 09:24] crawfordsm commented on #48
@keflavich If this can be updated by 13 Dec, that would be great.  Otherwise, there is no rush to fix this prior to resubmission if necessary.

[2017-12-09 19:18] hamogu commented on #85
I would not worry about the black space. The journal staff will reformat and typeset it for the journal anyway, so why should be waste our time to debug the latex? For most journals, it's sufficient to make a "good enough" layout, so that a) the referee can read it and b) you see that lay-outing is possible (e.g. no figures are bigger than one page).

An ApJ styple, every table in the appendix mus

[2017-12-09 19:19] hamogu commented on #82
Not a big deal though. Many papers mix these styles, depending on what's on the figure and how it fits the flow of text in the paragraph.

[2017-12-09 19:21] hamogu commented on #80
If somebody want to homogenize that and knows what the officially correct way is, that's fine. However, I think it's a waste of time at this stage. Every accepted paper in ApJ goes through professional language editing by ApJ staff and they will change these things to match the journal standard.

[2017-12-09 19:23] hamogu commented on #67
There is no reference for this; astropy has not published a document called "vision and philisophy" or similar. Instead, I think that refers to the goals for the astropy project that are taken up in several parts of the paper, starting from the introduction (reusability of code, docs, testing, continuous integration, ...). Do you have a better idea how to say this?

[2017-12-09 19:25] hamogu commented on #62
I agree with @crawfordsm : The link to the Lupton paper show be sufficient to back up the word "optimal".

[2017-12-09 19:28] hamogu commented on #58
I agree that this figure os not good for this context. Also, for this paper, it's not important to have different arrows have different colors

[2017-12-09 19:42] bsipocz commented on #67
@hamogu - If that's a question for me, then no, I have no better way to say it than it's currently done in the paper, only to add a link to astropy.org somewhere in the beginning (where this vision of reuse/document/test/CI is also mentioned)

[2017-12-09 19:45] bsipocz commented on #85
@pllim - I think we need to list every package that is currently accepted as affiliated. Hopefully the @astropy/coordinators have a full and complete list that tracks the review stages.

[2017-12-10 15:27] adrn commented on #22
I pinged @astrofrog in slack.

[2017-12-10 15:58] adrn commented on #57
I think the links conform to this in the current draft!

[2017-12-10 15:58] #57 closed

[2017-12-10 16:09] #58 closed

[2017-12-10 17:02] adrn commented on #82
I think mixing the styles is fine and the current captions seem ok for now. Let's revisit this if the referee also comments on this.

[2017-12-10 17:02] #82 closed

[2017-12-10 17:35] adrn commented on #67
Don't we have a "vision" section of the documentation?
http://docs.astropy.org/en/stable/development/vision.html

I'll add a footnote link to this in the paper.

[2017-12-10 17:53] #25 closed

[2017-12-10 17:53] #67 closed

[2017-12-10 18:02] #24 closed

[2017-12-11 01:22] adrn commented on #80
Agreed. I think this should be up to the AAS journals editors.

[2017-12-11 01:22] #80 closed

[2017-12-11 01:23] adrn commented on #15
@hamogu Now we have Table 1 and Figure 3 - do we need both?

[2017-12-11 01:24] adrn commented on #53
Figure 3 now visualizes the data from Table 1, but don't know about NOVAS

[2017-12-11 02:16] hamogu commented on #15
We don't *absolutely need* both, but there is nothing wrong with having both in my opinion. We could add a colorscale to the figure, that would make the table obsolete I think.

[2017-12-11 11:45] bsipocz commented on #15
👍 to keep only the figure and the link to the benchmarks for those who need more details. The paper already very coordinates heavy, so it's good to cut back on repetition.

[2017-12-11 14:16] ycopin opened #96 "\farcs vs. \arcsec"
Shouldn't one use the traditional "0\farcs 2" rather than "0.2\arcsec"?

[2017-12-11 15:20] adrn commented on #96
We'll let the journal editors suggest their preference.

[2017-12-11 15:20] #96 closed

[2017-12-11 16:23] #20 closed

[2017-12-11 17:31] #15 closed

[2017-12-11 18:16] adrn commented on #53
Oh, I think NOVAS doesn't implement the transformation we plot in the figure (formerly the table). I've added a note to clarify.

[2017-12-11 20:02] #53 closed

[2017-12-14 13:49] adrn opened #103 "Normalize plot styles"
Right now, the plots have different fonts and styles. We should probably just use the matplotlib default settings.

[2017-12-14 14:14] #62 closed

[2017-12-15 10:42] crawfordsm opened #106 "WCSaxis figure"
Issue to discuss whether to continue to include the WCSaxis figure or if the RGB figure is sufficient on its own.

[2017-12-15 10:43] crawfordsm opened #107 "Plot styles"
Check whether the style is consistent between different plots

[2017-12-15 12:17] adrn commented on #107
Duplicate of #103 :)

[2017-12-15 12:17] #107 closed

[2017-12-15 13:30] astrofrog commented on #106
The WCSAxes figure specifically illustrates the ability to show multiple coordinate systems overlaid, and e.g. grid lines etc. Doing the same on the RGB figure might get in the way a bit of seeing the image? I personally don't see any harm in including both.

[2017-12-16 01:47] hamogu commented on #106
Agreed with @astrofrog In the past, I've argued that we should keep the paper from growing too long, but in this case, I think two figures is OK. They are not too big, they look good, they won't take much reading time, and we don't pay extra for figures. Thus, I recommend leaving both and closing the issue.

[2017-12-16 01:49] hamogu commented on #103
Not sure we need consistent plot styles. You can see that as a demonstration of the range of styles that are possible. However, I won't stop you if either of you feel the urge to change that.

[2017-12-18 22:38] #31 closed

[2017-12-18 22:38] adrn commented on #106
Fine by me.

[2017-12-18 22:38] #106 closed

[2017-12-28 15:52] #46 closed

[2018-01-04 19:47] hamogu commented on #22
@astrofrog : Any progress on this? It's the last issue on the "definitely fix before submission" list.

[2018-01-04 19:48] hamogu commented on #85
@astropy/coordinators : What is the most complete list of affiliated packages? The astropy website?

[2018-01-05 00:36] keflavich commented on #48
This should be resolved by #91.

[2018-01-05 12:56] #48 closed

[2018-01-21 21:51] kelle opened #137 "Add more discussion of inclusivity"
I have two responses to this:
- We can totally write more about our inclusive practices and give some numbers. This is 100% reasonable even though I'm not exactly sure where to get numbers from (mailing lists?, Python in Astronomy, FB group?) and which axes of inclusivity to focus on (gender, ethnicity, country of origin, current country, past IDL users, etc.). Let me know if the any of the primar

[2018-01-22 05:50] rgommers commented on #137
This may be of interest to or in scope for the NumFOCUS Diversity & Inclusion in Scientific Computing (DISC) program. DISC is led by Gina, she can hopefully comment. ping @Dr-G

[2018-01-22 16:13] Dr-G commented on #137
Thanks for tagging me, @rgommers. @kelle I'd be happy to connect with Astropy about your needs regarding data collection and potentially connecting with social scientists to conduct research on the community. As the DISC Program continues to grow, it will be nice to have the projects come to us to articulate their needs. Let me know.

[2018-01-22 16:25] kelle commented on #137
in the paper, I think we should mention the coordination/involvement with NumFocus and DISC, we're working on getting better numbers, and could potentially work with social scientists in the future.

I should mention here that I was part of a group who started to put together a NumFocus-wide demographics survey at the DISC Unconference in NYC in Oct. I'm not on top of the status of that project, b

[2018-01-22 20:37] hamogu commented on #137
I think part of the problem is that "inclusive" means different things to different people as @kelle pointed out above. A full study of this is "beyond the scope of the current article" in my opinion. I've always understood astropy's inclusivity as "anyone who wants", which essentially means "the astronomical community at large". By many measures of "inclusive" the astronomical community already a

[2018-01-22 20:47] hamogu opened #139 "Add code examples"
The referee says

We discussed this in the paper telecons at least once and decided that we don't like code snippets too much because (i) then can be found in the docs, (ii) they risk being version specific and could be almost out of date already when the paper is published, and (iii) they are not necessarily instructive unless you are an astropy user already and know the context well enough to fi

[2018-01-22 21:09] hamogu opened #140 "Define "open development""
The referee says

Starting to comment from the bottom: I have reviewed the Node.js article linked by the referee. Compared to that, astropy is actually significantly more restrictive. In Node.js anybody is given commit rights after their first non-trivial PR based on the observations that most PRs make the code better, most people know their limits and won't merge things they don't understand, and

[2018-01-22 21:12] hamogu opened #141 "Warning for LS periodograms"
From the referee's report:

I don't think this is a controversial suggestion, I just wanted to make an issue for it so we don't forget because it is listed with the other "major points".

[2018-01-22 22:10] bsipocz commented on #139
If we can write up nicely the arguments why we choose not to have examples, I'm all for that and rather point the reader to the documentation, if needed at multiple places.

[2018-01-24 01:36] eblur commented on #137
Given the title of the paper, I agree with the referee that this issue is **major**.  It needs at least a paragraph defining what we mean by inclusion.

Perhaps changing the title to "The Astropy Project: Status of the v2.0 core and efforts towards building an inclusive, open-science project" will be closer to reality.

I agree that putting numbers to demographics such as gender, ethnicity, countr

[2018-01-24 01:55] eblur commented on #137
Just because everyone can -- in theory -- contribute code, doesn't mean that everyone who can will contribute. That's the difficulty with inclusivity as a topic. The barriers are invisible to those who are already included.

I think the paper needs a subsection on Inclusivity -- outlining the Code of Conduct, target demographic axes, and future efforts -- to warrant using "inclusive" in the title.

[2018-01-24 02:05] hamogu commented on #137
@eblur Great! Would you be willing to do a PR with a draft for such a section? It's easier to discuss an actual piece of text rather than the abstract concept here, I think.

[2018-01-24 02:14] dhuppenkothen commented on #137
Would it be appropriate to also talk about efforts to recruit a more diverse contributor base via the Python in Astronomy workshops? Diversity and inclusivity have always been a part of PyAstro efforts, so that might be at least worth mentioning?

For any sort of survey that contains demographic information (and I think asking people about their career stage counts), you might need to think about

[2018-01-24 02:34] hamogu commented on #137
The good think about "career stage of people with commit rights" is something we don't have to ask for - You or I or @eblur know most of them well enough that we can just count.

[2018-01-24 11:15] bsipocz commented on #137
I like @hamogu's idea, the people with commit rights is a big enough group, yet a manageable size to even follow-up individually. Also, some biases from the conclusions might have been removed, as everyone currently having the rights had to significantly contribute before getting it.

Also, if we talk about actual contributors, I would argue that we got more, and also a more diverse group in terms

[2018-01-25 16:28] bsipocz commented on #140
Both @eteq and especially @astrofrog defines it pretty nicely in their talks, but finding something in written is not that trivial. So far this blogpost seems to have some pretty useful thoughs, especially on the importance of communication and sharing.
https://medium.com/adobe-io/open-development-vs-inner-source-fdccf573a242

[2018-01-25 16:32] eteq commented on #140
I think the referee is starting from a different idea about what the phrase "open development" means than what we mean.  I think they think it's about who can "merge things", whereas to me it's more about who is involved in the *whole* process.  I.e., scientists sometimes write code  *and* review other code, all of it in the open.  So the first point is well taken that we need to define "open deve

[2018-01-25 16:39] bsipocz commented on #140
yes, it's also quite amazing to see that soo many programming projects run by astronomers (not necessarily the ones who write the code) who still are not familiar with any software engineering principle that are already discussed in the 70s (e.g. in the mythical men-month), let alone what happened since.

So it would be indeed useful to point out the differences.

[2018-01-25 16:55] eteq opened #143 "Decide if more code snippets are called for"
From the referee:

I think our philosophy is that we *don't* want snippets that duplicate/are separate from the docs.  So how do we want to finesse this?  We could point to specific URLs with these snippets where the referee asks.  Or just copy-and-paste them into the paper...?  It's probably a good point that if there *aren't* examples in the docs, we should add them, though.

[2018-01-25 16:58] eteq commented on #140
A nice quote from the link  in https://github.com/astropy/astropy-v2.0-paper/issues/140#issuecomment-360520397 of relevance here: "We’re saying that the heart of Open Source is Open Development. It’s the way you collaborate."  That gets at the core idea: Open Source is about *where* the code *is*, Open Dev is about how the code is *built*.

[2018-01-25 17:04] crawfordsm opened #144 "Referee comment on Package development"
[code]

[2018-01-25 17:06] crawfordsm opened #145 "Address inline comments"
This is an issue just to address the number of inline comments provided by the referee.  If a PR is open and inline comments are not addressed in that PR, then an issue should be opened for that PR.

[2018-01-25 17:20] crawfordsm commented on #141
cc:  @jakevdp -- just in case you aren't familiar with this citation

[2018-01-25 18:01] jakevdp commented on #141
I could definitely be persuaded to cite Vanderplas 2017 here :smile:

[2018-01-25 18:15] bsipocz commented on #143
This somewhat overlaps with https://github.com/astropy/astropy-v2.0-paper/issues/139. I said there, already that (as we discussed it several times during writing up) it would be great if we could get away without adding any code examples to the paper, either by stating this principle somewhere in the paper, or point to the documentation more.

[2018-01-27 21:01] astrofrog opened #146 "Update affiliated package table"
The "provisionally accepted" table is no longer relevant as we don't have a provisional category anymore. Also, the main table of packages should be updated as I think there are a couple of recent additions.

[2018-01-29 09:26] crawfordsm commented on #139
Comment from @eteq:

[2018-01-29 09:26] crawfordsm commented on #143
Closing in favor of #139

[2018-01-29 09:26] #143 closed

[2018-01-29 09:29] crawfordsm commented on #139
Since the referee specifically asked about this, I would agree with adding a few select code examples.  I would thinking coordinates, modeling, and visualization might be the three places (for the visualization, we should probably add a link to the codes into the paper to make those easily accessible).

[2018-01-30 20:22] eteq commented on #144
I see the referee's point that we should probably discuss this at least a bit in the paper.  Maybe something like:

* Astropy deeply intertwines with the existing Python scientific ecosystem.  Where possible we *always* try to use other tools instead of building our own. Some major astropy functionality is essentially an astro-relevant "wrapper" around existing code.  For example, modeling makes i

[2018-01-30 20:22] eteq commented on #144
Also, I'm curious if the `table` team might have some words to say *specifically* on the final part of the  table/pandas thing?  My impression is that the answer is that some of the features important for `astropy.table` (e.g. mixin columns, `QTable`) couldn't go into pandas without major architectural changes that noone on the Pandas side would support, but @taldcroft or @mhvk might know better?

[2018-02-14 04:33] crawfordsm commented on #137
Closed in #147

[2018-02-14 04:33] #137 closed

[2018-02-14 04:36] crawfordsm commented on #141
@jakevdp can you add some text by 28 Feb?  You can either include your response to the referee in the comment to the PR or directly in the file response.txt

[2018-02-14 04:37] crawfordsm commented on #144
@eteq can you craft a response to this by 28 Feb?   You can either include your response to the referee in the comment to the PR or directly in the file response.txt

[2018-02-14 04:38] crawfordsm commented on #140
@hamogu can you take the lead on crafting something by 28 Feb?   You can either include your response to the referee in the comment to the PR or directly in the file response.txt.   It would be great to get a PR in before then in case it does need to be discussed further.

[2018-02-14 04:40] crawfordsm commented on #139
@adrn can you lead adding some code examples for these sections? Especially coordinates?

[2018-02-14 11:51] bsipocz commented on #139
I'm still with @eteq's comment above, that we should try to avoid adding code snippets in the paper and rather point to the docs, and explain the philosophy that there are no snippets as they may be out of date in a few years time, etc.

[2018-02-14 18:56] hamogu commented on #140
I will address this issue.

[2018-02-16 13:42] adrn commented on #141
I think this was fixed in #149!

[2018-02-16 13:42] #141 closed

[2018-02-16 13:46] adrn commented on #139
I'm very much against it, but I can add a short example to coordinates. I'm definitely not the right person to make a modeling example though! Can someone else take on modeling?

[2018-02-16 13:48] adrn commented on #144
@eteq: do you have time to work this in to the paper? If not, I can do it - just assign me.

[2018-02-16 13:49] adrn commented on #146
I can do this.

[2018-02-16 13:51] adrn commented on #85
Closing this in favor of #146

[2018-02-16 13:51] #85 closed

[2018-02-16 14:23] astrofrog commented on #146
Ok :) Don't forget to remove the provisional table! (since I see you changed the title of the issue)

[2018-02-16 14:28] bsipocz commented on #146
@adrn - If you want something off your hand, probably this is the one I can take over the best.

[2018-02-16 14:29] adrn commented on #146
Sold!

[2018-02-16 15:25] hamogu commented on #139
I also don't really like code examples. together with @eteq @bsipocz and @adrn. @crawfordsm did not advocate it either. So, how about we add a discussion to the reply to the referee why we do **not** include code snippets? If all goes well, we convince the referee, if not he'she can always send te paper pack and then we add some examples in the next round. It's OK to disagree wit ha referee on one

[2018-02-16 15:30] bsipocz commented on #139
I agree with @hamogu, let's try not to include examples. Not because we can't include them, but because we don't want to. If they insist we can still throw-in a few.

[2018-02-16 15:37] eteq commented on #144
28 Feb is doable. Will put in my calendar ;)

[2018-02-16 15:46] bsipocz commented on #16
I aim to address this along with #146

[2018-02-18 05:05] crawfordsm opened #150 "Plot of contributors over time"
The referee has asked to include a plot of number of reviewers over time in the inline comments:

[2018-02-18 05:06] crawfordsm opened #151 "Health of the project"
In the inline comments, the review asks about the health of the project:

[2018-02-18 13:37] adrn commented on #150
I think I made a version of this at some point, so I can do this.

[2018-02-18 13:40] bsipocz commented on #150
There is a "contributors per month" plot, something similar to that one may be useful for addressing #151, too?
https://www.openhub.net/p/astropy

[2018-02-25 20:28] hamogu opened #153 "Mark up changes for referee"
ApJ requires that changes compared to the original text are highlighted on resubmission. They strongly suggest, but to not formally require, marking modified text in bolt font and the latex template provides some macros to help with that.

I'm not sure we want to add those to every PR right now, but if we don't we'll have to generate that markup somehow.
I suggest the "latexdiff" script between th

[2018-02-25 21:17] hamogu commented on #144
I don't think all that @eteq listed above needs to go into the paper. I would just add the point of "we use whatever we can" and a few examples how we contribute back (the doc and testing tools) or upstream (units are lead to a lot of interaction with numpy as we seem to be the most heavy users of __array_finalize__ and friends).
In my opinion, why we do tables independently and not into pandas is

[2018-02-25 23:54] crawfordsm commented on #153
I think doing this automatically would make sense as I don't think we have been consistently marking changes so far.

[2018-02-25 23:56] crawfordsm opened #156 "Citation for CI helpers"
The reviewer asked for a citation for the following statement:

cc: @bsipocz

[2018-02-26 00:02] #150 closed

[2018-02-28 01:19] adrn commented on #103
I'm un-assigning myself because I'm totally oversubscribed this week and should focus on more pressing issues related to the paper. If anyone wants to take this on, go for it. Otherwise, I think the figures are fine as is.

[2018-02-28 01:19] adrn commented on #103
(this can be closed on re-submission if not done)

[2018-02-28 09:22] bsipocz commented on #153
running a latexdiff between the submitted and resubmitted version seems the best solution to me too.

[2018-03-01 17:33] bsipocz commented on #156
Would you think it's enough to respond to this without any change to the main text? I have two points that I based this claim on:

* ~30% of the ci-helpers contributor are not coming from the astropy (or even the broad openastronomy) community:
https://github.com/astropy/ci-helpers/graphs/contributors

* There are currently 292 repositories on github that has ci-helpers in their travis configurati

[2018-03-02 01:52] #144 closed

[2018-03-02 03:59] crawfordsm opened #162 "Add any addition co-authors"
As we have advertised again, we should check the sign up list and add any additional co-authors that have signed up.

[2018-03-12 01:47] #139 closed

[2018-03-12 01:53] #140 closed

[2018-03-12 02:34] crawfordsm commented on #151
Closed with #150 and  commit 236e2e9

[2018-03-12 02:34] #151 closed

[2018-03-12 02:35] crawfordsm commented on #145
addressed with #157

[2018-03-12 02:35] #145 closed

[2018-03-12 02:35] #16 closed

[2018-03-12 02:37] crawfordsm commented on #35
Will not address for the re-submission

[2018-03-12 02:37] #35 closed

[2018-03-12 02:37] crawfordsm commented on #103
Closing

[2018-03-12 02:37] #103 closed

[2018-03-12 03:00] crawfordsm commented on #156
Closed wtih commit 7662bb2

[2018-03-12 03:00] #156 closed

[2018-03-12 03:01] crawfordsm commented on #162
Additional co-authors have been checked

[2018-03-12 03:01] #162 closed

[2018-03-13 23:38] migueldvb opened #167 "Future versions"
The sentence below from section 5 (the future of the Astropy project) seems out of date.
[code]
I'm not sure that it really matters since this was true at the time when the paper was submitted and posted on the arXiv.

[2018-03-14 02:07] crawfordsm opened #168 "Add eblur as co-author"
@eblur please make sure to fill in the form here so we can add you as a co-author:
https://docs.google.com/forms/d/1UOA7-fqWy5aeGtW54gNFHiMvs53ahOMrfJtFJiS0fyQ/

[2018-03-14 18:02] bsipocz commented on #146
Most of this is done, where the wasn't DOI-d reference available, I cited the github url instead.

[2018-03-14 18:02] #146 closed

[2018-03-18 21:37] crawfordsm commented on #167
Updated text to reflect v3.0 release

[2018-03-18 21:37] #167 closed

[2018-03-29 21:53] astrofrog commented on #35
Sorry for dropping the ball on this!

[2018-04-03 02:34] crawfordsm commented on #168
Done in the submitted version

[2018-04-03 02:34] #168 closed

[2018-04-03 02:34] crawfordsm commented on #153
done in the submitted version

[2018-04-03 02:34] #153 closed

[2018-04-03 02:35] #22 closed

[2018-12-19 19:45] pllim opened #171 "Add CITATION"
I know this is published somewhere but it is not obvious where by looking at this repo. I propose we add a CITATION file to make this more obvious.

[2018-12-19 22:02] bsipocz commented on #171
I actually repurpose this issue to be a reminder to add the citation info to the packages that the paper covered. astropy core already has it, but imo the package template, astropy helpers, ci-helpers, etc should also use this citation info.

I'll try to get back to it over the holidays, so assigning myself.

[2020-11-02 20:41] pllim opened #173 "Archive this repo?"

[2020-11-02 20:41] pllim commented on #171
I think this is done?

[2020-11-02 20:46] bsipocz commented on #171
I think I never did this, there is citation info in the core package but nowhere else.

[2020-11-02 20:48] bsipocz commented on #173
👍 - If no one opposes it (e.g. by the end of the week), I'll turn the switch. After all everything can be activated again.

[2020-11-14 05:45] bsipocz commented on #173
No one vetoed, so I'm closing this now before archiving the repo.

[2020-11-14 05:45] #173 closed